@import "variables";
@import "mixins";
// font-family: 'Fondamento', cursive;
// font-family: 'Monoton', cursive;

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

body{
  font-family: 'Fondamento', cursive;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}
$mint: #d9f5e8;
$teal: #2accc3;
$gold: #ffbd16;
$tomato: #ff623e;

$colors: (
  mint: $mint,
  teal: $teal,
  gold: $gold,
  tomato: $tomato
);

@each $color, $val in $colors {
  .bg-#{$color}{
    background-color: $val;
  }
  .bg-lt-#{$color}{
    background-color: lighten($val, 8%);
  }
  .bg-drk-#{$color} {
    background-color: darken($val, 8%);
  }
  .bg-mint-#{$color}{
    background-color: mix($val, $mint, 65%);
    max-height: 40px;
  }
  .bg-teal-#{$color}{
    background-color: mix($val, $teal, 65%);
    max-height: 40px;
  }
  .bg-gold-#{$color}{
    background-color: mix($val, $gold, 65%);
    max-height: 40px;
  }
  .bg-tomato-#{$color}{
    background-color: mix($val, $tomato, 65%);
    max-height: 40px;
  }
}
.left, .right {
  font-size: 10px;
}
.right {
  float: right;
}
.left {
  float: left;
  clear: both;
  font-weight: 900;
}
.text-container {
  margin-top: 5px;
}
.mix {
  font-size: 10px;
  margin-bottom: 5px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  @extend %clearfix;
}


[class*="bg-"] {
  height: 125px;
}

[class*='column-'] {
  float: left;
  padding: .4em;
  width: 90%;
  min-height: 1px;
  // margin-left: 2px;
  // margin-right: 2px;
}

.column-4{
  padding: 0;
}

.font1 {
  font-family: 'Fondamento', cursive;
}

.font2 {
  font-family: 'Monoton', cursive;
}
.lt-text{
  color: #bad9f3;
}
.font1, .font2 {
  font-weight: 500;
  color: $mint;
  & .bold {
    font-weight: 900;
    color: $teal;
  }
  & .italic {
    font-style: italic;
    color: $gold;
  }
  & .bold-italic{
    font-weight: 900;
    font-style: italic;
    color: $tomato;
  }
}
.smallword{
  font-size: 15px;
  color: #bad9f3;
  padding-right: 30px;
}
@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
    }
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
