.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.bg-mint {
  background-color: #d9f5e8; }

.bg-lt-mint {
  background-color: #f9fefc; }

.bg-drk-mint {
  background-color: #b9edd4; }

.bg-mint-mint {
  background-color: #d9f5e8;
  max-height: 40px; }

.bg-teal-mint {
  background-color: #9ce7db;
  max-height: 40px; }

.bg-gold-mint {
  background-color: #e6e19f;
  max-height: 40px; }

.bg-tomato-mint {
  background-color: #e6c2ad;
  max-height: 40px; }

.bg-teal {
  background-color: #2accc3; }

.bg-lt-teal {
  background-color: #46d9d1; }

.bg-drk-teal {
  background-color: #23aaa3; }

.bg-mint-teal {
  background-color: #67dad0;
  max-height: 40px; }

.bg-teal-teal {
  background-color: #2accc3;
  max-height: 40px; }

.bg-gold-teal {
  background-color: #75c786;
  max-height: 40px; }

.bg-tomato-teal {
  background-color: #75a794;
  max-height: 40px; }

.bg-gold {
  background-color: #ffbd16; }

.bg-lt-gold {
  background-color: #ffc93f; }

.bg-drk-gold {
  background-color: #eca900; }

.bg-mint-gold {
  background-color: #f2d160;
  max-height: 40px; }

.bg-teal-gold {
  background-color: #b4c253;
  max-height: 40px; }

.bg-gold-gold {
  background-color: #ffbd16;
  max-height: 40px; }

.bg-tomato-gold {
  background-color: #ff9d24;
  max-height: 40px; }

.bg-tomato {
  background-color: #ff623e; }

.bg-lt-tomato {
  background-color: #ff8367; }

.bg-drk-tomato {
  background-color: #ff4115; }

.bg-mint-tomato {
  background-color: #f2957a;
  max-height: 40px; }

.bg-teal-tomato {
  background-color: #b4876d;
  max-height: 40px; }

.bg-gold-tomato {
  background-color: #ff8230;
  max-height: 40px; }

.bg-tomato-tomato {
  background-color: #ff623e;
  max-height: 40px; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*="bg-"] {
  height: 125px; }

[class*='column-'] {
  float: left;
  padding: .4em;
  width: 90%;
  min-height: 1px; }

.column-4 {
  padding: 0; }

.font1 {
  font-family: 'Fondamento', cursive; }

.font2 {
  font-family: 'Monoton', cursive; }

.lt-text {
  color: #bad9f3; }

.font1, .font2 {
  font-weight: 500;
  color: #d9f5e8; }
  .font1 .bold, .font2 .bold {
    font-weight: 900;
    color: #2accc3; }
  .font1 .italic, .font2 .italic {
    font-style: italic;
    color: #ffbd16; }
  .font1 .bold-italic, .font2 .bold-italic {
    font-weight: 900;
    font-style: italic;
    color: #ff623e; }

.smallword {
  font-size: 15px;
  color: #bad9f3;
  padding-right: 30px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
